.categoryPage {

  h1 {
    margin-bottom: @baseline/2;
  }

  ul {

    li {
      float: left;
      width: 50%;
      padding: 25%;
      position: relative;
      overflow: hidden;
      opacity: 0;
      animation: appear .333s steps(10) forwards;
      cursor: pointer;
      outline: 1px solid #fff;

      img {
        .center();
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity .75s;
        background: #ddd;

        &:hover {
          opacity: 0.66;
        }
      }

      span {
        .absPos(auto, @baseline/2, @baseline/2, @baseline/2);
        padding: 0, @baseline/2;
        text-align: center;
        background: #fff;
        opacity: 0;
        color: #444;
        transition: all .25s;
      }
    }

    @media (min-width: @size-md) {
      padding: (3/4)*@baseline;

      li {
        width: 25%;
        padding: 12.5%;

        img {
          padding: @baseline/4;
          background: #fff;
        }

        &:hover {

          span {
            opacity: 0.8;
          }
        }
      }

    }
  }
}