// override lightbox styles

.ril-outer {
  background: #fff !important;
  outline: 1px solid #fff;
}

.ril-toolbar {
  background: transparent !important;
}

.ril-zoom-out, .ril-zoom-in {
  display: none;
}

.ril-toolbar__item {
  filter: invert(100%);
  background: transparent;
  line-height: inherit !important;

  .ril-close {
    padding: 2*@baseline 1.85*@baseline !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}

.ril-toolbar-left .ril-toolbar__item {
  filter: none;
}

.ril-toolbar-left {
  visibility: hidden;
}

.ril-toolbar-right {
  padding-right: 0 !important;
}

.ril-caption {
  background: transparent !important;
}

.ril-caption-content {
  box-sizing: border-box;
  padding: 0.5*@baseline @baseline !important;
  font-size: 0.8*@baseline;
  background: rgba(255, 255, 255, 0.5);
  color: #333 !important;
}

.ril-next-button, .ril-prev-button {
  filter: invert(100%);
  background-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0 !important;

  &:hover {
    opacity: 1 !important;
  }
}