//// GLOBAL VARIABLES - DEFAULTS ////
/////////////////////////////////////

// LAYOUT
@maxWidth: 1920px;

// MEDIA QUERIES BREAKPOINTS
@size-sm: 480px;
@size-md: 768px;
@size-lg: 1024px;
@size-xlg: 1240px;

@baseline: 17px;
