html, body {
  background: #fff;
  padding: 0;
}

.content {
  padding: 0 20px 20px 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    border-bottom: 1px solid #888;
    margin: 0;
    padding: 5px 10px;

    img {
      width: 200px;
      padding: 0;
      margin: 0;
      display: block;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.detailImages {
  margin-bottom: 20px;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  li {
    float: left;
    width: 33%;
    margin: 0;
    padding: 0;

    img {
      display: block;
      width: 100%;
    }
  }
}