h1 {
  font-size: 2*@baseline;
  padding: @baseline/2;
  margin: 0;
  width: 100%;
  background: #e91e63;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

p {
  font-size: @baseline;
  line-height: 1.5*@baseline;
  margin-bottom: @baseline/2;
  padding: 0 @baseline/2;
}