h1 {
  font-size: 2*@baseline;
  padding: @baseline/2;
  margin: 0;
  width: 100%;
  background: #e91e63;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
    .square(3*@baseline);
    text-align: center;
    background: #f92e73;
    display: inline-block;

    &:hover {
      color: #e91e63;
      background: #fff;
    }
  }
}

p {
  font-size: @baseline;
  line-height: 1.5*@baseline;
  margin-bottom: @baseline/2;
  padding: 0 @baseline/2;
}